body{
    font-family: 'Optima Medium';
}

form{
    display: flex;
    width: 256px;
    flex-direction: column;
    justify-content: center;
}

div{
    display: flex;
    background-color: plum;
    width: 512px;
    height: 256px;
    padding: 15px;
    border: 5px black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 15px;
}

img{
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

